<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762147501452-hj2263tfgcce4nmde6e7b885odvpps28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762147501452-hj2263tfgcce4nmde6e7b885odvpps28</string>
	<key>API_KEY</key>
	<string>AIzaSyAVD7eL3PEjwfYH3CN8CUtmS9k2lOjTxM8</string>
	<key>GCM_SENDER_ID</key>
	<string>762147501452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.syncrolife</string>
	<key>PROJECT_ID</key>
	<string>syncrolife-med</string>
	<key>STORAGE_BUCKET</key>
	<string>syncrolife-med.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762147501452:ios:bea7410f12d80b00f892a9</string>
</dict>
</plist>